@charset "UTF-8";
/*@import "~antd/dist/antd.css";*/
/*顶栏样式*/

.img-body {
    width: 50%;
    height: 50%;
    textAlign: 'center'
}

/*宋体、黑体、微软雅黑、Arial, Helvetica, sans-serif此4种字体。*/
.img-title {
    font-family: "Times New Roman", Times, serif;
}

.front-ms {
    font-family: '微软雅黑';
}

.front-Aria {
    font-family: 'Aria';
}

.front-Helvetica {
    font-family: 'Helvetica';
}

.front-song {
    font-family: '宋体';
}

.front-sans-serif {
    font-family: 'sans-serif';
}

.front-black {
    font-family: '黑体';
}


.file-search-input {
    width: 400px;
    height: 30px;
    textAlign: 'center';
    font-family: 'sans-serif';
    color: darkviolet;
}

/*FileSearch 用的css */
.image-node-1 {
    width: 100px;
    /*height: 200px;*/
    /*width: 50%;*/
    /*width: auto;*/
    /*height: 50%;*/
    height: auto;
    textAlign: 'center';
    font-family: 'sans-serif';

}
