

.front-ms {
    font-family: '微软雅黑';
}

.front-Aria {
    font-family: 'Aria';
}

.front-Helvetica {
    font-family: 'Helvetica';
}

.front-song {
    font-family: '宋体';
}

.front-sans-serif {
    font-family: 'sans-serif';
}

.front-black {
    font-family: '黑体';
}




