@charset "UTF-8";
/*顶栏样式*/

.img-body {
    width: 50%;
    height: 50%;
    textAlign: 'center'
}

/*宋体、黑体、微软雅黑、Arial, Helvetica, sans-serif此4种字体。*/
.img-title {
    font-family: "Times New Roman", Times, serif;
}


.file-search-input {
    width: 400px;
    height: 30px;
    textAlign: 'center';
    font-family: 'sans-serif';
    color: darkviolet;
}

/*FileLocalSearch 用的css */
.image-node-1 {
    width: 100px;
    /*height: 200px;*/
    /*width: 50%;*/
    /*width: auto;*/
    /*height: 50%;*/
    height: auto;
    textAlign: 'center';
    font-family: 'sans-serif';

}
